.contenedor-card{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.card-pokemon{
    width: 300px;
}

.imagen{
    text-align: center;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.titulo-card::first-letter{
    text-transform: capitalize;
}
