body{
    background-image: url(../files/fondo.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.contenedor-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 94vh;*/
    padding-top: 20px;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
}

.card-pokemon {
    width: 350px;
    height: auto;
    border: none;
}

.card-pokemon:first-child {
    opacity: 1;
}

.imagen {
    display: flex;
    width: 300px;
    height: 280px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#pokemon {
    border: 5px outset wheat;
    border-radius: 15px;
    background-color: #FFFFFF99;
}

.titulo-card {
    color: #FFFFFF;
    font-family: cursive;
}

.card-text {
    color: #FFFFFF;
    font-family: cursive;
}

.titulo-card::first-letter {
    text-transform: capitalize;
}

#activar {
    margin: auto 0px;
    cursor: pointer;
}

#activar:hover {
    transform: scale(1.05);
    transition: all ease 100ms;
}

#activar:active {
    color: rgb(172, 172, 172);
    transform: scale(0.9);
    transition: all ease 200ms;
}

#modalError{
    background-color: rgba(126, 126, 126, 0.766);
}

/* .modal {
    --bs-modal-margin: 8rem;
} */

.modal-content {
    background-color: rgba(128, 128, 128, 0.722);
    --bs-modal-header-border-color: rgba(128, 128, 128, 0.5);
    --bs-modal-footer-border-color: rgba(128, 128, 128, 0.5);
    border: 1.5px solid rgb(95, 95, 95);
    box-shadow: 0px 0px 10px 3px rgb(109, 109, 109);
}

.modal-body {
    align-self: center;
}

.modal-content {
    width: 85%;
}

.btn-info {
    --bs-btn-color: #FFFFFF;
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-disabled-bg: transparent;
}

.btn-outline-info {
    --bs-btn-hover-color: #FFFFFF;
    --bs-btn-active-color: #FFFFFF;
}

.info-p-pokemon {
    margin: 0 auto;
    width: 300px;
}

.autocompletar {
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    width: 569px;
    font-family: cursive;
}
ul{
    list-style: none;
}
.ui-helper-hidden-accessible{
    display: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
}

.ui-helper-hidden-accessible div{
    display: none;
    width: 0px;
    height: 0px;
    visibility: hidden;
}